
@model signupmodel
@{
    Layout = "~/views/shared/LayoutPage.cshtml";

}
@section head
{
    <style>
        body{
            background:url(/wwwroot/css/Nineteenth.jpg)
        }
        
    </style>

}

    @section body

{
        @*<form method="post">
                <span id="s"> Welcome To HR System </span>
                <div class="container" style="width: 975px; position: fixed; margin-top: 20px;">
                    <div class=" row" style="margin-top:20px">

                        <div class="col-xs-2">

                            <span> Name</span>

                        </div>
                        <div class="col-xs-5">

                            <input type="text" class="form-control" asp-for="name" />

                        </div>

                    </div>
                    <div class=" row" style="margin-top:20px">

                        <div class="col-xs-2">

                            <span> BDate</span>

                        </div>
                        <div class="col-xs-5">

                            <input type="date" class="form-control" asp-for="Bdate" />

                        </div>

                    </div>
                    <div class=" row" style="margin-top:20px">

                        <div class="col-xs-2">

                            <span> User Name</span>

                        </div>
                        <div class="col-xs-5">

                            <input type="text" class="form-control" asp-for="username" />

                        </div>

                    </div>
                    <div class=" row" style="margin-top:20px">

                        <div class="col-xs-2">

                            <span> Email</span>

                        </div>
                        <div class="col-xs-5">

                            <input type="email" class="form-control" asp-for="email" />

                        </div>

                    </div>
                    <div class=" row" style="margin-top:20px">

                        <div class="col-xs-2">

                            <span> Password</span>

                        </div>
                        <div class="col-xs-5">

                            <input type="password" class="form-control" asp-for="password" />

                        </div>

                    </div>
                    <div class=" row" style="margin-top:20px">

                        <div class="col-xs-2">

                            <span> Confirm Password</span>

                        </div>
                        <div class="col-xs-5">

                            <input type="password" class="form-control" asp-for="confirmpassword" />

                        </div>

                    </div>
                    <div class=" row" style="margin-top:20px">


                        <div class="col-xs-3" style="margin-left: 482px">

                            <input type="submit" value="save" class="btn btn-primary" asp-action="CreateAccount" />



                        </div>

                    </div>
                </div>

            </form>*@


        <form method="post">

            <div class="container" @*style="background:url(/wwwroot/css/Nineteenth.jpg)"*@>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">name</label>
                            <input type="text" class="form-control" asp-for="name" />
                            <span asp-validation-for="name"></span>
                        </div>
                    </div>
                </div>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">BDate</label>
                            <input type="date" class="form-control" asp-for="Bdate" />
                            <span asp-validation-for="Bdate"></span>

                        </div>
                    </div>
                </div>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">username</label>
                            <input type="text" class="form-control" asp-for="username" />
                            <span asp-validation-for="username"></span>
                        </div>
                    </div>

                </div>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">email</label>
                            <input type="email" class="form-control" asp-for="email" />
                            <span asp-validation-for="email"></span>
                        </div>
                    </div>

                </div>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">password</label>
                            <input type="password" class="form-control" asp-for="password" />
                            <span asp-validation-for="password"></span>
                        </div>
                    </div>
                </div>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">confirmpassword</label>
                            <input type="password" class="form-control" asp-for="confirmpassword" />
                            <span asp-validation-for="confirmpassword"></span>
                        </div>
                    </div>

                </div>
                <div class=" row" style="margin-top:20px">


                    <div class="col-xs-3" style="margin-left: 482px">

                        <input type="submit" value="CreatAccount" class="btn btn-primary" asp-action="CreateAccount" />



                    </div>

                </div>
            </div>

        </form>
    }
